{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<style>
      h1 {
        color: rgb(14, 12, 12);
      }
      h2 {
        color: rgb(14, 12, 12);
      }
      h4 {
        color: #fff;
      }
      h4 span {
        background-color: #3b358a;
      }
      h3 {
        color: #fff;
      }
      h3 span {
        background-color: #0c9129;
      }
      h5 {
        color: #fff;
      }
      h5 span {
        background-color: #0c9129;
      }
</style>
<div class="card bg-light mb-3 mx-auto float-right text-end pt-4" style="max-width: 24rem;">
    <h3 style="color:rgb(119, 150, 196);">Your cart: {{cart_values}}</h3>
</div>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

</style>
<div class="grid-container">
    <div class="grid-child purple">
<div id='products' class="col-lg-9 mx-auto">
    <div class="row mx-auto">
        <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
            <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
            
        </div>
    </div>
    <p>{{product.description}}</p>
</div>
    </div>
    <div class="grid-child">
            
            <div class="card-body">
                <h1 ><b>{{product.name}}</b></h1>
                <h4><span>Quantity: {{product.quantity}}</span></h4>
                <h5><span>Seller: {{product.seller}}</span></h5>
                {%if product.avail%}
                <h3 > <span>  Availiable</span></h3>
                    {%else%}
                <p class="text-danger">Out of stock</p>
                {%endif%}
                <h2><span><b>{{product.price|currency}}</b></span></h2>


                <!-- isko add krna hai------------------------------------------------- -->


                <!-- isko add krna hai------------------------------------------------- -->


                <!-- {{product | is_in_cart:request.session.cart }} -->
            </div>


            <div class="card-footer p-0 no-gutters">
                {%if product.avail%}
                <form action="/#{{product.id}}" method="POST" class="btn-block">
                    {% csrf_token %}
                    <input hidden type="text" name='product' value='{{product.id}}'>
                    <b>Quantity:</b> <input type="number" class="size-36" name='quantity1' value='1' min="0" max="10"
                                            step="1">
                    <input type="submit" class="btn btn-primary btn-sm"
                           value="Add To Cart">
                </form>
                {%endif%}

            </div>

        </div>

    </div>
</div>


{% endblock %}