{% extends 'base.html' %}


{% block content %}

<div class="alert alert-info">
    An email has been sent with Otp to reset your password
</div>
<div class="alert alert-info">
    <b>
        Please Enter Your OTP
    </b>
</div>
<form action="" method="POST">    <!-- original wale me action='/login' -->

    {% csrf_token %}

    {% if error%}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endif %}
    <!-- email -->
    <div class="form-group">
        <label for="">Otp</label>
        <input type="text" name="otp"
               id="" value="{{values.otp}}" class="form-control form-control-sm"
               placeholder="Enter 6 digit Otp">
    </div>
    <hr>
    <div class="form-group">
        <input class="btn btn-sm btn-info col-lg-4" type="submit" value="Submit otp">
    </div>
    


</form>

{% endblock %}